{% extends 'base.html.twig' %}

{% block body %}

    <div id="contact" class="container">

        <div class="row">
            <h3 class="text-center">Voulez Vous Vraiment Supprimer ?</h3>
            <div class="col-md-12 form-group">
                <a href="{{ path('participant_index') }}">
                    <span class="btn pull-right">Annuler</span>
                </a>
            </div>
        </div>

        <div class="col-md-10">

            <div class="row form-inline">
                {{ form_start(edit_form) }}

                <div class="col-sm-6 form-group">
                    <!--  champ nomMembre -->
                    {{ form_errors(edit_form.nomMembre) }}
                    {{ form_label(edit_form.nomMembre) }}
                    {{ form_widget(edit_form.nomMembre) }}
                </div>

                <div class="col-sm-6 form-group">
                    <!--  champ nomTournoi -->
                    {{ form_errors(edit_form.nomTournoi) }}
                    {{ form_label(edit_form.nomTournoi) }}
                    {{ form_widget(edit_form.nomTournoi) }}
                </div>
            </div>
        </div>

        <div class="row col-sm-offset-12">
            {{ form_end(edit_form) }}
            <div class="col-sm-6 form-group pull-right">
                {{ form_start(delete_form) }}
                <button class="btn  pull-right" type="submit">Supprimer</button>
                {{ form_end(delete_form) }}
            </div>

        </div>

    </div>

{% endblock %}

