{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Nommembre</th>
                <td>{{ participant.nomMembre }}</td>
            </tr>
            <tr>
                <th>Nomtournoi</th>
                <td>{{ participant.nomTournoi }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participant_edit', { 'id': participant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
