{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">


    <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/espritgamehub/bootstrap-star-rating/css/rating.css') }}" />


    <link href="{{ asset('bundles/espritgamehub/bootstrap-star-rating/css/star-rating.css') }}" media="all" rel="stylesheet" type="text/css" />

    <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
    <link href="{{ asset('bundles/espritgamehub/bootstrap-star-rating/themes/krajee-svg/theme.css') }}" media="all" rel="stylesheet" type="text/css" />

    <!-- important mandatory libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="{{ asset('bundles/espritgamehub/bootstrap-star-rating/js/star-rating.js') }}" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
    <script src="{{ asset('bundles/espritgamehub/bootstrap-star-rating/themes/krajee-svg/theme.js') }}"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="{{ asset('bundles/espritgamehub/bootstrap-star-rating/js/locales/<lang>.js') }}"></script>

    {% endblock %}

        {% block bgbody %}
            body{
            background-image: url({{ asset("images/backgroundRegister2.png") }});

            padding-top: 50px;
            }

        {% endblock %}



{% block body %}
<h1 align="center">Accessoire</h1>

    <br><br><br>

<div class="row">
    <div class="col-md-6 col-sm-6">

        <div class="frame" align="center"> <img src="{{(asset('tsawer/')~ a.longueur ) }}" style=" width: 300px;height: 300px; " alt="img"></div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="text-box">
            <h2>{{ a.nomProduit }}</h2>
            <div class="price-row"> <strong class="price">{{ a.prixProduit }}DT</strong> </div>



            <div class="product-id-reviews"> <strong class="id-number">Accessoire ID: <span>{{ a.id }}</span></strong>
                <div class="customer-reviews"> <strong class="title">Customer Reviews:</strong>
                    {#<form method="post" action="{{ path('accessoireDetails')}}">#}
                    <input type="hidden" value="{{ a.id }}" name="ida">
                    <input type="number" class="rating" value="2 " name="val"/>
                       {# <input type="submit" value="noter">#}
                  {#  </form>#}
                </div>
            </div>


        </div>
    </div>
</div>
    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/espritgamehub/bootstrap-star-rating/js/rating.js') }}"></script>
{% endblock %}