{% extends 'base.html.twig' %}
 {% block stylesheets %}
  <LINK rel="stylesheet" href="{{ asset("css/jeuamateur/style.css") }}" type="text/css">

     <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <script src="{{ asset('ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') }}"></script>
     <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
  <link rel="alternate" type="application/json+oembed" href="{{ asset("https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F70702483949565")}}" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F70702483949565" title="oEmbed Form">
  <meta property="og:title" content="Professional Development Workshop Registration Form" >
  <meta property="og:url" content="{{ asset("http://www.myjotform.com/form/70702483949565")}}" >
  <meta property="og:description" content="Please click the link to complete this form.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="HandheldFriendly" content="true" />
  <title>Professional Development Workshop Registration Form</title>
  <link href="{{ asset("https://cdn.jotfor.ms/static/formCss.css?3.3.17784")}}" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="{{ asset("https://cdn.jotfor.ms/css/styles/nova.css?3.3.17784")}}" />
  <link type="text/css" media="print" rel="stylesheet" href="{{ asset("https://cdn.jotfor.ms/css/printForm.css?3.3.17784")}}" />
  <link type="text/css" rel="stylesheet" href="{{ asset("https://cdn.jotfor.ms/themes/CSS/551913e0977cdf067e8b4567.css?themeRevisionID=57debcc69a11c71ebe8b4567")}}"/>




 {% endblock %}

        {% block bgbody %}
            body{
            background-image: url({{ asset("images/ja.png") }});

            padding-top: 50px;
            }
        {% endblock %}
{% block body %}
 <div >
  <br>
     {{  8|rating(5, "fa-3x") }}
     <ul style="list-style-type: none;">
  <li>
      {{  5|rating(5, "fa-3x") }}
      <a href="{{ path('jeuamateur_new') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un jeu amateur
   </a>
      {{  5|rating(5, "fa-3x") }}
      {{ form_start(form,{'attr' : {'class': 'navbar-form navbar'}}) }}


    <div class="input-group">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control ', 'placeholder':'Recherche...' }}) }}

     <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
    </div>
      {{ form_end(form) }}

  </li>
 </ul>
 <ul style="list-style-type: none;">

     {% set i=0 %}
    {% for jeuAmateur in jeuAmateurs %}

        <li>
 <input type="hidden" name="formID" value="70702483949565" />
 <div class="form-all" style="background-color: rgba(0,0,0,0.37)">
  <ul class="form-section page-section">
   <li class="form-line form-line-column form-col-1" data-type="control_image" id="id_14">
    <div id="cid_14" class="form-input-wide">
     <img alt="" class="form-image" style="border:0px;" src="{{ asset("images/gamepad.png") }}" height="70" width="70" data-component="image" />
    </div>
   </li>
   <li class="form-line form-line-column form-col-2" data-type="control_text" id="id_9">
    <div id="cid_9" class="form-input-wide">
     <div id="text_9" class="form-html" data-component="text">
      <p style="text-align:left; font-size: 40px;"><a style="text-decoration: none" href="{{ path('demandes_show_comments', { 'id': jeuAmateur.id }) }}">
              <strong style="color:rgba(0,0,0,0.55); font-family: 'Bodoni MT'">{{ jeuAmateur.nom }}</strong></a></p>
     </div>
    </div>
   </li>
   <li class="form-line" data-type="control_text" id="id_11">
    <div id="cid_11" class="form-input-wide">
     <div id="text_11" class="form-html" data-component="text">
      <p> <strong style="color:rgba(0,0,0,0.55)"><span class="glyphicon glyphicon-pencil"></span>  Crée par</strong> : {{ jeuAmateur.membre }} </p>
     </div>
    </div>
   </li>
   <li class="form-line form-line-column form-col-1" data-type="control_text" id="id_12">
    <div id="cid_12" class="form-input-wide">
     <div id="text_12" class="form-html" data-component="text">
      <strong style="color:rgba(0,0,0,0.55)"> <span class="glyphicon glyphicon-stats"> </span> Evaluation : {{  0|rating(5, "fa-3x") }} </strong> {{ jeuAmateur.evaluation }}
     </div>
    </div>
   </li>
   <li class="form-line form-line-column form-col-2" data-type="control_text" id="id_13">
    <div id="cid_13" class="form-input-wide">
     <div id="text_13" class="form-html" data-component="text">
      <strong style="color:rgba(0,0,0,0.55)">  <span class="glyphicon glyphicon-list-alt"></span> Categorie </strong> : {{ jeuAmateur.categorie }}
     </div>
    </div>
   </li>
   <li class="form-line form-line-column form-col-3" data-type="control_button" id="id_16">
    <div id="cid_16" class="form-input-wide">
     <div style="margin-left:156px;" class="form-buttons-wrapper">

      <a href="{{ path('jeuamateur_show', { 'id': jeuAmateur.id }) }}" class="btn btn-default ">
       <span class="glyphicon glyphicon-log-in"></span>  Accéder
      </a>
     </div>
    </div>
   </li>
   {% if (membre.username==jeuAmateur.membre) or is_granted('ROLE_ADMIN') %}
   <li class="form-line form-line-column form-col-4" data-type="control_button" id="id_15">
    <div id="cid_15" class="form-input-wide">
     <div style="margin-left:156px;" class="form-buttons-wrapper">

      <a href="{{ path('jeuamateur_edit', { 'id': jeuAmateur.id }) }}" class="btn btn-default ">
       <span class="glyphicon glyphicon-pencil"></span>  Modifier
      </a>
     </div>
    </div>
   </li>
{% else %}
 <li class="form-line form-line-column form-col-4" data-type="control_button" id="id_15">
  <div id="cid_15" class="form-input-wide">
   <div style="margin-left:156px;" class="form-buttons-wrapper">
    <a style="visibility: hidden" href="{{ path('jeuamateur_edit', { 'id': jeuAmateur.id }) }}" class="btn btn-default ">
     <span class="glyphicon glyphicon-pencil"></span>  Modifier
    </a>

   </div>
  </div>
 </li>
   {% endif %}
    <li class="form-line form-line-column form-col-4" data-type="control_button" id="id_1dc5">
     <div id="cid_78915" class="form-input-wide">
      <div style="margin-left:156px;" class="form-buttons-wrapper">


       <div class="row">

        <div class="col-md-6">
         commentaires :
         <a href="#ja{{ jeuAmateur.id }}"  style="text-decoration: none" onclick="javascript:afficherCommentaires(document.getElementById('lescommentaires{{ jeuAmateur.id}}'));">
             {% for key,comm in nombrecomment %}
                 {% if key == jeuAmateur.id %}
                     {{ comm }} <span class="glyphicon glyphicon-comment"></span>
                 {% endif %}
             {% endfor %}
         </a>
         <span id="loader{{jeuAmateur.id}}" style="display: none;"><img src="{{ asset('img/loader.gif') }}" alt="loading" /></span>
        </div>

       </div>

      </div>
     </div>
    </li>

    <li class="form-line form-line-column form-col-4" data-type="control_button" id="id_1dc5">
     <div id="cid_78915" class="form-input-wide">
      <div style="margin-left:156px;" class="form-buttons-wrapper">

          {{ facebookButton( {'locale':'fr_FR', 'url':'http://127.0.0.1/GameHub/web/app_dev.php/JeuAmateur/'~jeuAmateur.id~'/show' } )}}


      </div>
     </div>
    </li>
   <li class="form-line form-line-column form-col-4" data-type="control_button" id="id_1dc5">

   </li>



   <li style="clear:both">
   </li>
   <li style="display:none">
    Should be Empty:
    <input type="text" name="website" value="" />
   </li>
  </ul>

 </div>

<ul id="commentaires{{ jeuAmateur.id}}" style="padding-left: 0px; width: 100.1%; " >
 <li class="list-group-item" style="width: 550px; background:rgba(0,0,0,0.1);display: none " id="ajoutcomm{{ jeuAmateur.id}}">

 </li>
</ul>

        </li>


        <div id="lescommentaires{{ jeuAmateur.id}}" style="display: none;">
            {% for com in com|reverse %}
                {% if com.idJeuamateur == jeuAmateur.id %}
                    {% set numComment = loop.index %}
                    <div style="width: 550px; background:rgba(0,0,0,0.05); padding-bottom: 1px">
                    <li class="list-group-item form-all" style="width: 550px; background:rgba(0,0,0,0.05);    ">
                        <div class="row" >
                            <div class="col-md-11"> <div style="font-size:14px ; line-height:1.3 ;">
                                    <strong style="color:rgba(54,88,153,1)">{{com.utilisateurId}}</strong> <span style="color: black">{{ com.contenu}}</span>
                                </div>
                                <div align="right" style="color: rgba(0,0,0,0.47); font-size: 12px">
                                    {{ com.date|localizeddate('full', 'short')}}
                                </div>
                            </div>
                        </div>

                    </li>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <li class="list-group-item form-all" style="width: 550px;background:rgba(0,0,0,0.22) " name="com" id="com">
            <form method="post" enctype="multipart/form-data">

                <div class="input-group" style="padding-left: 5px; padding-right: 5px;">
                    <input type="textarea" class="form-control"  id="commentaire{{jeuAmateur.id}}" placeholder="Ecrire un commentaire...">

                    <span class="input-group-btn" style="padding-left: 5px;">
                                <a href="javascript:commenterscript('{{ jeuAmateur.id}}', document.getElementById('commentaire{{jeuAmateur.id}}'));" class="btn btn-default">commenter</a>
                                <span id="loaderCom{{jeuAmateur.id}}" style="display: none;"><img src="{{ asset('images/aaa.gif') }}" alt="loading" /></span>
                            </span>

                </div>

            </form>
        </li>

     <br>
    {% endfor %}
 </ul>
 </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}