<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta content='True' name='HandheldFriendly' />
    <meta content='user-scalable=0,initial-scale=1' name='viewport' />
    <title>{% block title %}GameHub{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/jquery.datetimepicker.css')}}" />
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet"  href="{{asset('css/bootstrap-theme.css.map')}}" />
    <LINK rel="stylesheet"  href="{{ asset("css/login/style1.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.icon-large.min.css') }}" />




    {% block ssjeu %}

    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>

        .margin-bottom-demande {
            margin-bottom:4px;
        }
        .form-control-court{
            height: 30px
        }
        .modal-backdrop.in {
            opacity: 0.82 !important ;
        }
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        .imageTourne{
            padding-top: 3px;
        }
        {% block bgbody %}
        body{
            background-image: url("{{ asset('images/home.jpg') }}");
            padding-top: 50px;
        }
        {% endblock %}
        [data-notifications] {
            position: relative;
        }

        [data-notifications]:after {
            content: attr(data-notifications);
            position: absolute;
            background: red;
            border-radius: 20%;
            display: inline-block;
            padding: 0.2em;
            color: #f2f2f2;
            right: 4px;
            top: 5px;
            bottom: 25px;
            font-size: 14px;
        }
    </style>
</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style=" padding: 10px 40px;" href="{{ path('esprit_game_hub_homepage') }}"><img src="{{ asset("images/gamehub-icon.png") }}" class="size-logo" ></a>


        </div>
        <div class="navbar-nav">

        </div>
        <div class="collapse navbar-collapse " id="myNavbar">


                <div class="input-group  navbar-left">


                        <a class="navbar-brand" style=" padding: 15px 30px;" href="{{ path("jeu_index") }}">Jeux </a>
                        <a class="navbar-brand" style=" padding: 15px 30px;" href="{{ path("jeuamateur_index") }}">Jeux amateur </a>
                    <a class="navbar-brand" style=" padding: 15px 30px;" href="{{ path("accessoire_index") }}">Accessoire</a>
                        <a class="navbar-brand" style=" padding: 15px 30px;"  href="{{ path('esprit_gamehub_tournoi') }}">Tournois</a>

                </div>



            <ul class="nav navbar-nav navbar-right">



                <!--<li><a href="#" data-toggle="modal" data-target="#myModal"><div style="font-size:23px ; color:white;">+</div></a></li>-->

                {% block homeactif %} <li><a href="{{ path('esprit_game_hub_homepage') }}"><div style="font-size:12px ; color : white;"><span class="glyphicon glyphicon-home"></span> </div></a></li>{% endblock%}
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"  id="notification" onclick="effaceNotif();"><div style="font-size:15px ; color : white;"><span class="glyphicon glyphicon-globe"></span></div></a>
                    <!--  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications <span class="badge">3</span></a>-->
                    <ul class="dropdown-menu" id="dropdown-menu-notification">
                        <li id="aucuneNotification"> &nbsp;&nbsp; Aucune notification</li>
                        <!-- contenu des notification -->
                    </ul>
                </li>
                <li class="dropdown" id="not">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <div style="font-size:12px ; color : white;"><span class="glyphicon glyphicon-chevron-down"></span> </div>
                    </a>
                    <ul class="dropdown-menu multi-level">

                        <li><a href="{{ path('fos_user_profile_show')}}"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                        <li><a href="{{ path("accessoire_catalogue") }}"><span class="glyphicon glyphicon-th-large"></span>  Catalogue d'accesoire</a></li>
                        <li><a href="{{ path('esprit_game_hub_Affciher') }}"><span class=" glyphicon glyphicon-list"></span> Forum</a> </li>
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('reclamation_index') }}"><span class="glyphicon glyphicon-pencil"></span> Reclamation </a>
                            {% else %}
                            <a href="{{ path('reclamation_new') }}"><span class="glyphicon glyphicon-pencil"></span> Reclamation </a>
                            {% endif %}
                        </li>



                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('admin') }}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span> Administration</a>
                            </li>
                        {% endif %}
                        <li class="divider"></li>

                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion  </a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block profileactif %}  <li>
                    <a  class="navbar-brand" style="color: green;" href="{{ path('fos_user_profile_show')}}"> {{ app.user.username }} </a>
                </li>
                {% endblock%}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{% block modalplus %} {% endblock%}</li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}

{% endblock %}


<footer id="footer" class="vspace20 " style="background-color: whitesmoke">
    <hr/>
    <div class="container">


        <div class="row">

            <div class="col-lg-4">
                <p>&copy; Copyright {{"now"|date('Y')       }}</p>
            </div>
        </div>
    </div>
</footer>
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>

{% block javascriptsjeu %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // $('.dropdown-submenu > a').submenupicker();
        // when .modal-wide opened, set content-body height based on browser height; 200 is appx height of modal padding, modal title and button bar


        setInterval(notifier, 3000);

        var notificationTab = new Array();

        function notifier() {

            $.ajax({
                type: 'post',
                url: '{{ path('notifications') }}',
                datatype: 'json',
                beforeSend: function () {

                    //console.log('debut notif');
                },
                success: function (data) {
                    //var obj = JSON.parse(data);
                   console.log('debut succes');

                    if (data.nombreNotif > '0') {
                        // playSound('laser');
                        //playSound('laser');
                        //playSound('laser');
                        console.log('fama notif : ' + data.nombreNotif);
                        $('#aucuneNotification').replaceWith('<li id="aucuneNotification"></li>')
                        /*chaque notification n3adi 3leha fonction*/
                        $.each(data.notifications, function () {
                            var notif = JSON.parse(this);
                            if(nexistepas(notif.id,notificationTab)){
                                notificationTab.push(notif.id);
                                var contenu=notif.contenu;
                                var position = contenu.indexOf("commenté");
                                //console.log("tablou"+notificationTab);
                                if (position!=-1) {
                                    $('#dropdown-menu-notification').append('<li  style="background-color: #b8c7ce" role="presentation" id="'+notif.id+'"><a role="menuitem" tabindex="-1" href="' + Routing.generate('jeuamateur_comments_notif', {'id': notif.idJeuamateur}) + '" target="_blank"><span class="glyphicon glyphicon-comment" style="color: #00a7d0"> </span> ' + notif.contenu + '</a></li>');
                                } else {
                                    $('#dropdown-menu-notification').append('<li style="background-color: #b8c7ce"  role="presentation"><a role="menuitem" tabindex="-1" href="' + Routing.generate('jeuamateur_comments_notif', {'id': notif.idJeuamateur}) + '" target="_blank"><span class="glyphicon glyphicon-plus" style="color: #00dd1c"></span> ' + notif.contenu + '</a></li>');
                                }

                            }

                        });
                        $("#notification").attr("data-notifications", data.nombreNotif);
                    } else {
                        //console.log('no notif');
                        if(document.getElementById('aucuneNotification').value != 0){
                            $('#aucuneNotification').replaceWith('<li id="aucuneNotification" value="0"> &nbsp;&nbsp; Aucune notification</li>')
                        }
                    }
                    // console.log('fin notif');
                }
            });

        }



        function nexistepas(notificationActuel, notificationTableau){
            for(  i = 0 ; i < notificationTableau.length; i++){
                if(notificationActuel == notificationTableau[i]) {
                    //console.log('notif mawjouda deja ' + notificationTableau[i]);
                    return false;
                }
            }
            // console.log('notif mouch mawjouda '+notificationActuel );
            // console.log('haw tableau' +notificationTableau);
            return true ;

        }


        function effaceNotif() {
            $("#notification").removeAttr("data-notifications");
        }



        function commenterscript(id, contenu) {
            var lecommentaire = contenu.value;

            while (lecommentaire.indexOf('\\') !== -1) {
                lecommentaire = lecommentaire.replace('\\', 'antislach');
            }
            while (lecommentaire.indexOf('/') !== -1) {
                lecommentaire = lecommentaire.replace('/', 'slach');
            }
            while (lecommentaire.indexOf('?') !== -1) {
                lecommentaire = lecommentaire.replace('?', 'istefhem');
            }

            $.ajax({
                type: 'post',
                url: Routing.generate('commenter', { 'id': id,'contenu' : lecommentaire }),
                beforeSend: function () {
                    document.getElementById("loaderCom" + id).style.display = "inline";
                    console.log('ça chargee encore commentaire ' + id + '/' + contenu.value);
                    console.log('ça chargee commentaire ' + id + '/' + lecommentaire );


                },
                success: function (data) {
                    document.getElementById("loaderCom" + id).style.display = "none";
                    $('#commentaires' + id).append('<li class="list-group-item form-all form-all" style="width: 550px; background:rgba(0,0,0,0.1)"><div class="row"><div class="col-md-11"> <div style="font-size:14px ; line-height:1.3 "><strong style="color:rgba(54,88,153,1)"> {{ app.user.username }}</strong> <span style="color: black">' + contenu.value + '</span></div><div align="right" style="color: rgba(0,0,0,0.47);font-size: 12px"> {{'now'|date|localizeddate('full', 'short') }} </div></div> </div></li>');

                    contenu.value = ' ';
                    console.log("okkk commentaire");
                }
            });
        }





    </script>

{% endblock %}

</body>
</html>